@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Tamarack";
}

@section icon {
    <img src="~/img/Tamarack/Icon.png" />
}

@section description {
    <p class="appDescriptionText">
        A collection of modern, easy to use classes for designing a UI in pure JavaScript. 
    </p>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/tamarack" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

@await Html.PartialAsync("~/Views/Shared/_SyntaxHighlighter.cshtml")

<div class="container appFeatures">
    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">Hello World</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    A simple hello world demo in Tamarack.
                </p>

                <pre class="codeContainer">
                    <code class="js">
                        new TkText("h1", { parent: "body", text: "Hello World!" });
                    </code>
                </pre>
            </div>
        </div>

        <div class="col-md-3">
            <div class="imgContainer">
                <img class="featurette-image" src="~/img/Tamarack/HelloWorld.jpg" lightbox />
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette orderFlip">
        <div class="col-md-9">
            <h2 class="featurette-heading">Coin Toss</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    Create a button that tosses a coin and prints the result to the screen.
                </p>

                <pre class="codeContainer">
                    <code class="js">
                        let tossCoinButton = new TkButton({ parent: &quot;body&quot;, text: &quot;Toss Coin&quot; });
                        let results = new TkStack({ parent: &quot;body&quot;, direction: TkStackDirection.VERTICAL });

                        tossCoinButton.on(&quot;click&quot;, () =&gt; {
                            let result = TkArray.random(&quot;Heads&quot;, &quot;Tails&quot;);
                            let resultColor = (result == &quot;Heads&quot;) ? &quot;maroon&quot; : &quot;midnightblue&quot;;
                            let resultText = new TkText(&quot;h2&quot;, { 
                                parent: results, 
                                text: result,
                                style: `color: ${resultColor};`
                            });
                        });
                    </code>
                </pre>
            </div>
        </div>

        <div class="col-md-3">
            <div class="imgContainer">
                <img class="featurette-image" src="~/img/Tamarack/CoinToss.gif" lightbox />
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">Tabs</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    Managing a notebook with tabs is a fairly common task when developing an application, but it can
                    quickly become a hassle using only plain HTML and JavaScript. With Tamarack, it can be done 
                    entirely in JavaScript, without any boilerplate.
                </p>

                <p class="extendedDescription">
                    A <strong>TkNotebook</strong> is a widget containing pages that contains useful functions and properties
                    for managing pages. It also includes events such as <em>changepage</em>, <em>addpage</em>,
                    and <em>removepage</em> that you can add event handlers to in order to deal with changes in the notebook.
                </p>
                
                <p class="extendedDescription">
                   Each page in a notebook is represented by a <strong>TkNotebookPage</strong>, which includes a tab 
                   button and a content panel.
                </p>

                <pre class="codeContainer">
                    <code class="js">
                        // Declare widgets
                        let selectedPageText = new TkText(&quot;h2&quot;, { parent: &quot;body&quot; });
                        let buttonStack = new TkStack({ parent: &quot;body&quot;, direction: TkStackDirection.FLOW });
                        let previousPageButton = new TkButton({ parent: buttonStack, text: &quot;&lt;&quot; });
                        let nextPageButton = new TkButton({ parent: buttonStack, text: &quot;&gt;&quot; });
                        let addPageButton = new TkButton({ parent: buttonStack, text: &quot;Add&quot; });
                        let removePageButton = new TkButton({ parent: buttonStack, text: &quot;Remove&quot; });
                        let notebook = new TkNotebook({ parent: &quot;body&quot;, style: &quot;margin-top: 1rem;&quot; });

                        // Keep track of the pages added
                        let pageCount = 0;

                        // Attach button event handlers
                        previousPageButton.on(&quot;click&quot;, () =&gt; notebook.goToPrevious());
                        nextPageButton.on(&quot;click&quot;, () =&gt; notebook.goToNext());
                        addPageButton.on(&quot;click&quot;, () =&gt; {
                            notebook.add(new TkNotebookPage({
                                title: `Tab ${++pageCount}`,
                                content: [new TkText(&quot;h2&quot;, { text: `Content ${pageCount}` })]
                            }));
                        });
                        removePageButton.on(&quot;click&quot;, () =&gt; {
                            if (notebook.active !== null)
                                notebook.remove(notebook.active);
                        });

                        // Update the selected page text when the current page is changed
                        notebook.on(&quot;changepage&quot;, (page) =&gt; {
                            if (page != null)
                                selectedPageText.text = selectedPageText;
                            else
                                selectedPageText.text = &quot;&quot;;
                        });
                    </code>
                </pre>
            </div>
        </div>

        <div class="col-md-3">
            <div class="imgContainer">
                <img class="featurette-image" src="~/img/Tamarack/Tabs.gif" lightbox />
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette orderFlip">
        <div class="col-md-9">
            <h2 class="featurette-heading">Detect dark mode</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    Easily add event handlers to watch for switches between light
                    and dark mode.
                </p>

                <pre class="codeContainer">
                    <code class="js">
                        // Insert a text element into &lt;body&gt;
                        let modeText = new TkText(&quot;h1&quot;, { parent: &quot;body&quot; });

                        // Update the text and document colors when the system is 
                        // switched between dark and light mode
                        function updateMode() {
                            if (TkDocument.isInDarkMode()) {
                                document.body.style.backgroundColor = &quot;black&quot;;
                                document.body.style.color = &quot;white&quot;;
                                modeText.text = &quot;Dark Mode&quot;;
                            } else {
                                document.body.style.backgroundColor = &quot;white&quot;;
                                document.body.style.color = &quot;black&quot;;
                                modeText.text = &quot;Light Mode&quot;;
                            }
                        }

                        // Attach the handler to watch for the change
                        TkDocument.onChangeDarkMode(updateMode);

                        // Call to update for the current mode
                        updateMode();
                    </code>
                </pre>
            </div>
        </div>

        <div class="col-md-3">
            <div class="imgContainer">
                <img class="featurette-image" src="~/img/Tamarack/DarkMode.gif" lightbox />
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-9">
            <h2 class="featurette-heading">Stacks</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    Layout widgets in a stack.
                </p>

                <p>
                    Now for a more in-depth demo. A fundamental widget in Tamarack is 
                    the <strong>Stack</strong> widget, which is a flexbox container 
                    that exposes useful functionality for laying out child widgets.
                </p>

                <p>
                    This demo also shows the functionality of the <strong>TkButton</strong>
                    widget and the <strong>TkColor</strong> class. 
                </p>

                <p>
                    It creates two stacks, <em>buttonStack</em> and <em>colorStack</em>, adds a button
                    to <em>buttonStack</em> for each <strong>TkStackDirection</strong> to 
                    change the stack direction of <em>colorStack</em>, then loops through each 
                    hue (0-360), and adds a <strong>TkText</strong> widget representing it to the color stack.
                </p>

                <pre class="codeContainer">
                    <code class="js">
                        // Declare the layout button stack and add it to the body
                        let buttonStack = new TkStack({
                            parent: &quot;body&quot;,
                            direction: TkStackDirection.FLOW
                        });

                        // Declare the color stack and add it to the body
                        let colorStack = new TkStack({
                            parent: &quot;body&quot;,
                            direction: TkStackDirection.VERTICAL
                        });

                        // Add a button for each stack direction
                        for (let direction in TkStackDirection) {
                            let button = new TkButton({
                                parent: buttonStack,
                                text: direction,
                                style: &quot;margin: 0.25rem;&quot;
                            });

                            button.on(&quot;click&quot;, () =&gt; colorStack.direction = TkStackDirection[direction]);
                        }

                        // Loop through hues and add text for each one to the colorStack
                        for (let i = 0; i &lt;= 360; i++) {
                            let itemColor = new TkColor(`hsl(${i}, 100%, 50%)`);
                            let stackItem = new TkText(&quot;span&quot;, {
                                parent: colorStack,
                                style: &quot;font-weight: bold; padding: 0.25rem;&quot;
                            });

                            stackItem.style.backgroundColor = itemColor.asHex();
                            stackItem.style.color = itemColor.isLight() ? &quot;black&quot; : &quot;white&quot;;
                            stackItem.text = itemColor.asHex();
                        }
                    </code>
                </pre>
            </div>
        </div>

        <div class="col-md-3">
            <div class="imgContainer">
                <img class="featurette-image" src="~/img/Tamarack/Stacks.gif" lightbox />
            </div>
        </div>
    </div>
</div>
