@{
    Layout = "_AppLayout";
    ViewData["Title"] = "AeroLib";
}

@section description {
    <p class="appDescriptionText">
    </p>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/AeroLib" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

@await Html.PartialAsync("~/Views/Shared/_SyntaxHighlighter.cshtml")

<div class="container appFeatures">
    <pre>
        <code class="csharp">
            using System.IO.Compression;
            #pragma warning disable 414, 3021

            namespace MyApplication
            {
                [Obsolete(&quot;...&quot;)]
                class Program : IInterface
                {
                    public static List&lt;int&gt; JustDoIt(int count)
                    {
                        Console.WriteLine($&quot;Hello {Name}!&quot;);
                        return new List&lt;int&gt;(new int[] { 1, 2, 3 })
                    }
                }
            }
        </code>
    </pre>
</div>
