<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ian Martinez</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
            <a class="navbar-brand" href="~/">Ian <span class="bold">Martinez</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="softwareDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Software</a>
                        <div class="dropdown-menu" aria-labelledby="softwareDropdown">
                            <a class="dropdown-item" href="~/AsciiStudio">ASCII Studio</a>
                            <a class="dropdown-item" href="~/Chameleon">Chameleon</a>
                            <a class="dropdown-item" href="~/CardinalQemu">Cardinal QEMU</a>
<<<<<<< HEAD
                            <a class="dropdown-item" href="~/LangPad">LangPad</a>
=======
                            <a class="dropdown-item" href="~/LangPad">Language Pad</a>
>>>>>>> 94536aa8ca525de4bb9e5b6b13bcf90cec7e7b7c
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="jsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">JavaScript</a>
                        <div class="dropdown-menu" aria-labelledby="jsDropdown">
                            <a class="dropdown-item" href="~/Tamarack">Tamarack</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                        <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                            <a class="dropdown-item" href="~/Resources/AeroLib">AeroLib</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="iconsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Icons</a>
                        <div class="dropdown-menu" aria-labelledby="iconsDropdown">
                            <a class="dropdown-item" href="~/Icons/Taiga">Taiga</a>
                            <a class="dropdown-item" href="~/Icons/Tlell">Tlell</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="themesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
                        <div class="dropdown-menu" aria-labelledby="themesDropdown">
                            <a class="dropdown-item" href="~/Themes/Nightfall">Nightfall (IceWM)</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="oldDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Old</a>
                        <div class="dropdown-menu" aria-labelledby="oldDropdown">
                            <a class="dropdown-item" href="~/Old/Graystyle">Graystyle Screensaver</a>
                            <a class="dropdown-item" href="~/Old/Colors">Colors Screensaver</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal" id="lightboxModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - Ian Martinez
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
