<div class="windowOuter windowOuterBlurred glassWindow">
    <h1 class="windowTitle">Projects</h1>

    <div class="windowInner noPad">
        <div class="appList">
            <a href="~/AsciiStudio" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/AsciiStudio/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <p class="appTitle">ASCII Studio</p>
                    </div>

                    <p class="appDescription">
                        Convert both still and animated images into ASCII art, with full color
                    </p>
                </div>
            </a>

            <a href="~/CardinalQemu" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/CardinalQemu/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <div class="wipBadge">
                            <ion-icon name="construct"></ion-icon>
                            <span>Under development</span>
                        </div>

                        <p class="appTitle">Cardinal QEMU</p>
                    </div>

                    <p class="appDescription">
                        An easy-to-use, cross-platform frontend for QEMU
                    </p>
                </div>
            </a>

            <a href="~/Chameleon" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/Chameleon/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <p class="appTitle">Chameleon</p>
                    </div>

                    <p class="appDescription">
                        Change your wallpaper with the weather, battery level, or time of day
                    </p>
                </div>
            </a>

            <a href="~/LaikaWM" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/LaikaWM/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <div class="wipBadge">
                            <ion-icon name="construct"></ion-icon>
                            <span>Under development</span>
                        </div>

                        <p class="appTitle">LaikaWM</p>
                    </div>

                    <p class="appDescription">
                        A modern, lightweight Wayland compositor
                    </p>
                </div>
            </a>

            <a href="~/LangPad" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/LangPad/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">LangPad</p>
                    <p class="appDescription">
                        A word processor for linguistics
                    </p>
                </div>
            </a>

            <a href="~/Tamarack" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/Tamarack/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <div class="wipBadge">
                            <ion-icon name="construct"></ion-icon>
                            <span>Under development</span>
                        </div>

                        <p class="appTitle">Tamarack</p>
                    </div>

                    <p class="appDescription">
                        A framework for building rich, cross-platform apps in pure JavaScript
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>