@model int

@{
    ViewData["Title"] = "Error (" + Model + ")";
    var errorIcon = Model == 404 ? "warning.png" : "error.png";
}

<style>
    body {
        background-color: firebrick;
        background: radial-gradient(ellipse at top, rgb(154, 66, 39), rgb(117, 1, 1)), radial-gradient(ellipse at bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    }
</style>

<div class="jumbotron windowOuter errorWindow">
    <div class="windowInner">
        <div class="jumboDescription">
            <div class="errorMessage">
                <img src="~/img/@errorIcon"/>

                <div class="errorText">
                    <h1>Error @Model:</h1>
                    @if(Model == 404) 
                    {                        
                        <p>
                            This page does not exist
                        </p>
                    } else if(Model == 500) {                        
                        <p>
                            Server error
                        </p>
                    } else {
                        <p>
                            Unknown error
                        </p>
                    }
                </div>
            </div>

            <div class="buttonPanel">                
                <a class="btn btn-primary imageButton" href="~/" role="button">
                    <ion-icon name="home"></ion-icon><span>Return Home</span>
                </a>
            </div>
        </div>
    </div>
</div>