@model int

@{
    ViewData["Title"] = "Error (" + Model + ")";
    var errorIcon = Model == 404 ? "warning.png" : "error.png";
}

<div class="jumbotron windowOuter errorWindow">
    <div class="windowInner">
        <div class="jumboDescription">
            <div class="errorMessage">
                <div class="errorTop">
                    <img src="~/img/@errorIcon"/>

                    <div class="errorHeader">
                        <h1>Error</h1>
                        <p class="errorCode">Response: @Model</p>
                    </div>
                </div>

                <div class="errorText">                    
                    @if(Model == 404) 
                    {                        
                        <span>
                            This page does not exist
                        </span>
                    } else if(Model == 500) {                        
                        <span>
                            Server error
                        </span>
                    } else {
                        <span>
                            Unknown error
                        </span>
                    }
                </div>
            </div>

            <div class="buttonPanel">                
                <a class="btn btn-primary imageButton" href="~/" role="button">
                    <ion-icon name="home"></ion-icon><span>Return Home</span>
                </a>
            </div>
        </div>
    </div>
</div>