@{
  Layout = "_AppLayout";
  ViewData["Title"] = "Horizon Icons";
}

@section description {
  <p class="appDescriptionText">
    Colorful, free-to-use 16px toolbar icons.
  </p>

  <div class="appButtons">
    <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/horizon-icons" role="button">
      <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
    </a>
  </div>
}

@section screenshot {
  <img class="featurette-image appScreenshot" src="~/img/Icons/Horizon/Icons.jpg" lightbox />
}

<div class="container appFeatures">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Tons of icons</h2>

      <div class="featuretteDescription">
        <p class="lead">
          Horizon contains 192 icons for common tasks.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="imgContainer">
        <img class="featurette-image" src="~/img/Icons/Horizon/IconList.jpg" lightbox />
      </div>
    </div>
  </div>
</div>