@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Taiga Icons";
}

@section description {
    <p class="appDescriptionText">
        A fork of the <a href="https://github.com/elementary/icons">elementary icons</a>,
        designed to be easy to use in desktop application projects.
    </p>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/taiga-icons" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

@section screenshot {
    <img class="featurette-image appScreenshot" src="~/img/Icons/TaigaPreview.jpg" lightbox />
}

<div class="container appFeatures">
</div>