@{
  Layout = "_AppLayout";
  ViewData["Title"] = "Tlell Icons";
}

@section description {
  <p class="appDescriptionText">
    A cleanup of the <a href="http://tango-project.org/Tango_Icon_Library/">Tango Icon Set</a>,
    with nicer colors, reduced shininess, and softer shadows.
  </p>

  <div class="appButtons">
    <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/tlell-icons" role="button">
      <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
    </a>
  </div>
}

@section screenshot {
  <img class="featurette-image appScreenshot" src="~/img/Icons/Tlell/Icons.jpg" lightbox />
}

<div class="container appFeatures">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Rasters in multiple sizes</h2>

      <div class="featuretteDescription">
        <p class="lead">
          Comes with pre-rendered PNG files in multiple sizes that you can add
          to your application.
        </p>

        <p class="extendedDescription">
          The sizes included are 16x16, 24x24, 32x32, 48x48, 64x64, 96x96, and 128x128.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="imgContainer">
        <img class="featurette-image" src="~/img/Icons/Tlell/Rasters.jpg" lightbox />
      </div>
    </div>
  </div>
</div>