@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Tlell Icons";
}

@section description {
    <p class="appDescriptionText">
        A cleanup of the <a href="http://tango-project.org/Tango_Icon_Library/">Tango Icon Set</a>,
        with nicer colors, reduced shininess, and softer shadows.
    </p>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/tlell" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

@section screenshot {
    <img class="featurette-image appScreenshot" src="~/img/Icons/TlellPreview.jpg" lightbox />
}

<div class="container appFeatures">
</div>