@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Chameleon";
}

@section icon {
    <img src="~/img/Chameleon/Icon.png" />
}

@section description {
    <p class="appDescriptionText">
        Change your wallpaper with the weather, battery level, or time of day
    </p>

    <div class="appDescriptionExtended">
        <p><strong>Minimum Requirements:</strong> Windows Vista or higher</p>
        <p><strong>Written In:</strong> Pascal</p>
    </div>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/Chameleon" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>

        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/Chameleon/tree/master/Release" role="button">
            <ion-icon name="download"></ion-icon><span>Download</span>
        </a>
    </div>
}

@section screenshot {
    <img class="featurette-image appScreenshot" src="~/img/Chameleon/Screenshot.jpg" lightbox />
}

<div class="container appFeatures">
</div>