@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background: url('../img/Background.jpg') no-repeat center center scroll;
    }
</style>

<div class="jumbotron windowOuter">
    <div class="windowInner">
        <div class="portraitContainer">
            <img src="~/img/Portrait.jpg" />
        </div>

        <div class="jumboDescription">
            <h1>Ian Martinez</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque sed nisi egestas neque luctus scelerisque vitae nec diam.
                Donec ultricies est risus, molestie porttitor ante finibus a.
                Sed erat diam, fringilla nec gravida ut, placerat in tellus.
                Suspendisse eu mattis felis.
                Pellentesque facilisis, nisi a accumsan sodales, neque massa tempor mauris, at porta augue ligula sit amet ligula.
                Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi rhoncus nunc dapibus purus elementum porttitor.
                Aliquam ut blandit augue. Integer elementum commodo diam eget ultricies.
                Maecenas faucibus gravida nisi at lacinia.
                In a iaculis velit, facilisis malesuada purus.
                Etiam tempus tellus odio, sed efficitur mi laoreet ac.
                Cras sagittis nisi eget diam facilisis, in lacinia ipsum vehicula. Suspendisse scelerisque quis eros non gravida.
            </p>
            <p>
                <a class="btn btn-primary" href="~/About" role="button">More &raquo;</a>
            </p>
        </div>
    </div>
</div>

<div class="windowOuter">
    <div class="windowInner noPad">
        <h1 class="windowTitle">Software</h1>

        <div class="appList">
            <a href="~/AsciiStudio" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/AsciiStudio/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">Ascii Studio</p>

                    <p class="appDescription">
                        Convert both still and animated images into ASCII art, in full color
                    </p>
                </div>
            </a>

            <a href="~/CardinalQemu" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/CardinalQemu/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">Cardinal QEMU</p>

                    <p class="appDescription">
                        An easy-to-use frontend for QEMU
                    </p>
                </div>
            </a>

            <a href="~/Chameleon" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/Chameleon/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">Chameleon</p>

                    <p class="appDescription">
                        Change your wallpaper with the weather, battery level, or time of day
                    </p>
                </div>
            </a>

            <a href="~/LanguagePad" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/LanguagePad/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">Language Pad</p>

                    <p class="appDescription">
                        A word processor for linguistics
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>