@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background: url('../img/Background.jpg') no-repeat center center scroll;
        background-size: cover;
    }
</style>

<div class="jumbotron windowOuter">
    <div class="windowInner">
        <div class="portraitContainer">
            <img src="~/img/Portrait.jpg" />
        </div>

        <div class="jumboDescription">
            <h1>Ian Martinez</h1>
            <p>
                A software developer and designer with projects in C#, Java, JavaScript, Pascal, and more.
            </p>
            <p>
                <a class="btn btn-primary" href="~/About" role="button">More &raquo;</a>
            </p>
        </div>
    </div>
</div>

<div class="windowOuter glassWindow">
    <div class="windowInner noPad">
        <h1 class="windowTitle">Projects</h1>

        <div class="appList">
            <a href="~/AsciiStudio" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/AsciiStudio/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <p class="appTitle">ASCII Studio</p>
                    </div>

                    <p class="appDescription">
                        Convert both still and animated images into ASCII art, with full color
                    </p>
                </div>
            </a>

            <a href="~/CardinalQemu" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/CardinalQemu/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <div class="wipBadge"><ion-icon name="beaker"></ion-icon> <span>WIP</span></div>
                        <p class="appTitle">Cardinal QEMU</p>
                    </div>

                    <p class="appDescription">
                        An easy-to-use, cross-platform frontend for QEMU
                    </p>
                </div>
            </a>

            <a href="~/Chameleon" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/Chameleon/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <p class="appTitle">Chameleon</p>
                    </div>

                    <p class="appDescription">
                        Change your wallpaper with the weather, battery level, or time of day
                    </p>
                </div>
            </a>

            <a href="~/LangPad" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/LangPad/Icon.png" />

                <div class="appInfo">
                    <p class="appTitle">LangPad</p>
                    <p class="appDescription">
                        A word processor for linguistics
                    </p>
                </div>
            </a>

            <a href="~/Tamarack" class="btn btn-secondary appTile">
                <img class="appIcon" src="~/img/Tamarack/Icon.png" />

                <div class="appInfo">
                    <div class="appHeader">
                        <div class="wipBadge"><ion-icon name="beaker"></ion-icon> <span>WIP</span></div>
                        <p class="appTitle">Tamarack</p>
                    </div>

                    <p class="appDescription">
                        A collection of modern, easy to use classes for designing a UI in pure JavaScript
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>