html {
    background-color: black;
}

body {
    color: #fff;
    background-color: rgb(32, 67, 77);
    background: linear-gradient(45deg, rgb(38, 38, 38), rgb(32, 67, 77));
    background: radial-gradient(ellipse at top, rgb(32, 67, 77), rgb(8, 14, 9)), radial-gradient(ellipse at bottom, rgb(0, 0, 0), rgb(0, 0, 0));
    padding: 0;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Catamaran', sans-serif;
}

    body > main > h1 {
        color: white;
        text-shadow: 0 0 3px black;
    }

    body .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: #63920b;
        font-weight: 600;
    }

    p a {
        text-decoration: underline;
    }

    a:hover {
        color: #7dac26;
        text-decoration: underline;
    }

::selection {
    background-color: rgba(130, 186, 26, 0.5);
}

body {
    outline-color: transparent;
}

.noPad {
    padding: 0 !important;
}

.padAbove {
    margin-top: 0.5rem !important;
}

.warningText {
    color: black;
    font-weight: 600;
    font-style: italic;
}

.navbar {
    margin: 0;
    z-index: 99;
}

.navbar-brand {
    color: #fff;
    font-weight: lighter;
}

.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover {
    outline: none;
}

.show > .nav-link {    
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
}

.nav-link {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.navbar-toggler:focus,
.navbar-brand:focus {
    outline-color: rgba(192, 255, 0, 0.7);
}

.bg-dark {
    background-color: rgba(23, 23, 23, 0.85) !important;
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.windowOuter {
    padding: 0.35rem;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
}

.windowInner {
    background: rgba(235, 235, 235, 1);
    border: 1px solid rgba(95, 95, 95, 0.9);
    border-radius: 0.25rem;
    padding: 1rem;
    font-weight: normal;
    color: #000;
}

.windowTitle {
    padding: 0.75rem;
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #b9b9b9;
    background: linear-gradient(0deg, #d1d1d1, rgb(223, 223, 223));
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15);
}

.glassWindow .windowInner {
    background: rgba(255, 255, 255, 0.7);
}

.glassWindow .windowTitle {
    background: linear-gradient(0, rgba(181, 181, 181, 0.5), rgba(226, 226, 226, 0.9));
    border-bottom: 1px solid rgba(146, 146, 146, 0.9);
}

.glassWindow .btn-secondary {
    background: rgba(171, 171, 171, 0.25);
    border: 1px solid rgba(112, 112, 112, 0.3);
    box-shadow: 0 0 3px 1px rgba(138, 138, 138, 0.15);
}

.jumbotron {
    color: black;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

    .jumbotron .windowInner,
    .jumbotron .windowInner .col-md-5,
    .jumbotron .windowInner .col-md-7 {
        display: flex;
        flex-direction: row;
    }

    .jumbotron .portraitContainer {
        margin-right: 1.5rem;
    }

.portraitContainer img {
    max-width: 100px;
    border-radius: 100%;
    border: 1px solid #2f2f2f;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

main {
    margin: 2rem 0;
}

.text-muted {
    color: rgba(24, 24, 24, 0.7) !important;
}

footer {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

/* Buttons */
.btn {
    line-height: 1rem;
    padding: 0.5rem 0.75rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.btn-primary {
    color: #fff;
    background-color: #67901b;
    background: linear-gradient(0deg, #577b13,#67980d);
    border-color: #5b8213;
    text-decoration: none;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #7dad24;
        background: linear-gradient(0deg, #6d981d,#7daf22);
        border-color: #648c19;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        color: #fff;
        background-color: #608a15;
        background: linear-gradient(0deg, #6d981d,#7daf22);
        border-color: #527513;
        box-shadow: 0 0 0 0.2rem rgba(110, 156, 22, 0.5);
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #fff;
        background: linear-gradient(0deg, #757575,#757575);
        background-color: #757575;
        border-color: #757575;
    }

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {  
        color: #d5d5d5;
        background-color: #4e6d15;
        background: linear-gradient(0deg, #4e6d15, #486513);
        border-color: #3c560c;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus,
        .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgb(123, 173, 35);
            outline-color: rgba(192, 255, 0, 0.7);
        }

.btn-secondary {
    color: #262626;
    background: rgb(255, 255, 255);
    border-color: rgb(198, 198, 198);
    text-shadow: 0 0 transparent;
}

    .btn-secondary:hover {
        border-color: rgba(150, 203, 56, 0.85);
        background-color: rgb(226, 247, 186);
        background: linear-gradient(0deg, rgba(219, 255, 147, 0.6), rgba(233, 255, 190, 0.8));
        color: #1a2703;
    }

    .btn-secondary:focus,
    .btn-secondary.focus {
        background-color: rgb(252, 255, 246);
        background: linear-gradient(0deg, rgb(227, 255, 170), rgb(234, 255, 192));
        color: #293610;
        border-color: #88ad43;
        box-shadow: 0 0 0 0.2rem rgba(130, 186, 26, 0.5);
    }

    .btn-secondary.disabled,
    .btn-secondary:disabled {
        color: dimgray;
        background: linear-gradient(0deg, #757575, #757575);
        background-color: #757575;
        border-color: #757575;
    }

    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        color: #262626;
        background-color: #a1c167;
        background: linear-gradient(0deg, #e5f7c3, #cfec9a);
        border-color: #91b64b;
    }

        .btn-secondary:not(:disabled):not(.disabled):active:focus,
        .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(130, 186, 26, 0.5);
        }

.imageButton > span {
}

.imageButton ion-icon {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
}

.dropdown-menu {
    background-color: rgba(23, 23, 23, 0.95) !important;
    border: 1px solid rgba(66, 66, 66, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
    color: rgb(224, 224, 224);
}

.dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #689811;
}

/* App List */
.appList {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 1rem;
}

.appTile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 100px;
    border-radius: 0.25rem;
    text-decoration: none;
    width: calc(50% - 1rem);
    text-align: left;
    line-height: 1.25rem;
}

    .appTile:hover {
        box-shadow: 0 0 6px 1px rgba(130, 186, 26, 0.25);
        text-decoration: none;
    }

    .appTile .appIcon {
        width: 64px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .appTile .appInfo {
        width: 100%;
    }

        .appTile .appInfo p {
            margin: 0.25rem 0.5rem;
        }

    .appTile .appHeader {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: space-between;
    }

    .appTile .appInfo .appTitle {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .appTile .appInfo .appDescription {
        font-weight: normal;
    }

.wipBadge {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 0 0.5rem;
    opacity: 0.75;
}

    .wipBadge span {
        margin-left: 0.25rem;
        margin-top: 0.25rem;
    }

/* App Pages */
.appJumbo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.appJumbo .noScreenshot {
    display: flex;
    flex-direction: row;
}

.appJumbo .centeredDescription {
    align-items: center;
}

    .appJumbo .col-md-5 {
        justify-content: flex-end;
    }

    .appJumbo .appIcon {
        display: flex;
        align-items: flex-start;
    }

        .appJumbo .appIcon img {
            width: 128px;
            margin: 0.5rem;
        }

    .appJumbo .appDescription {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0.5rem 0;
    }

    .appJumbo .appDescriptionExtended {
        font-style: italic;
        color: gray;
        margin: 0.5rem 0;
    }

        .appJumbo .appDescriptionExtended p {
            margin: 0.5rem 0;
        }

        .appButtons {
            margin-top: 0.5rem;
        }

        .appButtons .imageButton {
            margin: 0.25rem 0.1rem;
        }

        .appButtons .imageButton:first-child {
            margin-left: 0;
        }

        .appButtons .imageButton:last-child {
            margin-right: 0;
        }

        .appJumbo .appWarning {
            font-weight: 600;
            font-style: italic;
            color: firebrick;
            display: flex;
            align-content: center;
            align-items: center;    
            margin-bottom: 1rem;
        }

        .appJumbo .appWarning ion-icon {
            font-size: 1.5rem;
            margin-right: 0.25rem;
        }

        .appJumbo .appWarning span {
            margin-top: 0.25rem;
        }

    .appJumbo .appDescriptionText {
        margin: 0;
    }

    .appJumbo .appScreenshot {
        max-height: 250px;
        align-self: center;
        max-width: 100%;
    }

    .appJumbo .appScreenshotContainer {
        display: inline-flex;
        margin: 1rem;
    }

.featurette-image {
    border-radius: 0.25rem;
    border: 6px solid white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    max-height: 50vh;
    max-width: 100%;
    margin: 0.5rem 0;
}

.featurette-image:first-child {
    margin-top: 0;
}

.featurette-image:last-child {
    margin-bottom: 0;
}

.appFeatures {
    margin: 1rem 0;
    padding-top: 0 !important;
}

    .appFeatures .col-md-7,
    .appFeatures .col-md-9 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .appFeatures .col-md-5,
    .appFeatures .col-md-3 {
        display: flex;
        flex-direction: column;
    }

    .appFeatures .imgContainer {
        justify-content: center;
        flex-direction: column;
    }

    .appFeatures .orderFlip {
        flex-direction: row-reverse;
    }

    .appFeatures .extendedDescription {
        font-style: italic;
    }

    .appFeatures .orderFlip .imgContainer {
        justify-content: flex-start;
        flex-direction: column;
    }

    .appFeatures hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .appFeatures strong {
        color: #63920b;
        font-weight: 600;
    }

    .appFeatures .newFeature {
        color: #63920b;
        border-radius: 0.25rem;
        font-size: 1.25rem;
        border: 2px solid #63920b;
        align-self: self-start;
        margin-bottom: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0.5rem 0;
}

[lightbox] {
    cursor: pointer;
}

#lightboxModal.show {
    display: flex !important;
}

#lightboxModal .modal-body {
    padding: 0rem;
    display: inline-flex;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
}

#lightboxModal img {
    max-width: 100%;
    max-height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    object-fit: contain;
}

#lightboxModal .modal-dialog {
    max-width: calc(100vw) !important;
    padding: 0 1rem;
    max-height: calc(100vh - 4rem);
}

#lightboxModal .modal-content {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.modal-backdrop {
    background-color: rgba(0,0,0,0.5);
}

    .modal-backdrop.show {
        opacity: 1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.5);
    }

    code {
        border: 1px solid #000;
        border-radius: 0.25rem;
        padding: 0.5rem 1.5rem !important;
        line-height: 1.5rem;
        background: black;
        color: white;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    }

    .codeContainer {
        padding: 0;
        line-height: 0rem;
        box-shadow: 0 0 6px 1px rgba(49, 51, 43, 0.5);
        overflow: hidden;
        border-radius: 0.25rem;
    }

    /* Error page */
    .errorWindow .windowInner {
        padding: 1rem;
        justify-content: center;
    }
    
    .errorWindow .errorMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        flex-wrap: wrap;
    }

    .errorWindow .errorText {
        margin: 1rem 0;
    }
    
    .errorWindow .errorMessage img {
        max-width: 100px;
        margin: 0 0.5rem;
    }

    .errorWindow .errorMessage h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    .errorWindow .errorMessage p {    
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 0;
    }

    .errorWindow .buttonPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

/* Tablets/Medium screens */
@media (max-width: 992px) {
    body .container {
        max-width: 900px;
    }

    .appFeatures .col-md-9 ,
    .appFeatures .col-md-3 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .jumbotron .col-md-5,
    .jumbotron .col-md-7 {
        text-align: left;
        width: 100%;
        max-width: 100%;
        flex: auto;
        justify-content: center;
    }

    .appJumbo .appScreenshot {
        max-width: 100%;
        max-height: 275px;
    }

    .appTile {
        width: 100%;
    }

    code {
        padding: 0.5rem 0.75rem !important;
    }
}

/* Phones */
@media (max-width: 767px) {
    .appJumbo {
        text-align: center;
    }

    .appFeatures .col-md-5 {
        justify-content: center;
    }

    .appFeatures .col-md-3,
    .appFeatures .col-md-5,
    .appFeatures .col-md-7,
    .appFeatures .col-md-9 {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .appFeatures img {
        max-height: 100vh;
    }

    .windowTitle {
        text-align: center;
    }

    .jumbotron .windowInner,
    .jumbotron .col-md-5,
    .jumbotron .col-md-7 {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    .appJumbo .appIcon img {
        width: 100px;
    }

    .jumbotron .appWarning  {
        text-align: center;
        justify-content: center;
    }
}

/* Non-phones */
@media (min-width: 768px) {
    .appJumbo .appIcon img {
        width: 128px;
        margin-right: 2rem;
    }
}
