:root {
  font-size: 16px;
  /* Basic layout */
  --border-radius: 0.2rem;
  /* Blurs */
  --base-blur: blur(7px);
  --intense-blur: blur(10px);
  --site-text: #f7fff5;
  --divider-color: #162013;
  --site-bg: radial-gradient(ellipse at top, #3f423e, rgba(5, 5, 5, 0.4)),
  radial-gradient(ellipse at bottom, #646963, #050505);
  /* Window/Jumbo */
  --window-text: #092801;
  --window-bg: #fafaf9;
  --window-glass: rgba(249, 251, 249, 0.9);
  --jumbo-header-text: linear-gradient(180deg, #000000, #638f56);
  --window-border-padding: 4px;
  --window-border-padding-sm: 3px;
  /* Basic colors */
  --outline-color: rgba(167, 241, 147, 0.7);
  --selection-color: rgba(115, 213, 88, 0.6);
  /* Accents */
  --accent-text: #43962c;
  --accent-text-hover: #54be37;
  /* Disabled button */
  --btn-disabled: #a2ad9f;
  --btn-disabled-text: #f2f3f1;
  /* Primary button */
  --btn-primary-text: #f3fff0;
  --btn-primary-bg-1: #91c20a;
  --btn-primary-bg-2: #219900;
  --btn-primary-border: #1b7a00;
  --btn-primary-text-shadow: rgba(0, 0, 0, 0.8);
  --btn-primary-hover-text: white;
  --btn-primary-hover-bg-1: #a3cf2a;
  --btn-primary-hover-bg-2: #3bb31a;
  --btn-primary-hover-border: #2caa09;
  --btn-primary-hover-text-shadow: rgba(0, 0, 0, 0.65);
  --btn-primary-active-text: rgba(255, 255, 255, 0.9);
  --btn-primary-active-bg-1: #287713;
  --btn-primary-active-bg-2: #74990f;
  --btn-primary-active-border: #1f6b0b;
  --btn-primary-active-text-shadow: rgba(0, 0, 0, 0.65);
  --btn-primary-focus-ring: rgba(68, 169, 40, 0.4);
  --btn-primary-focus-outline: rgba(62, 172, 32, 0.8);
  /* Secondary button */
  --btn-secondary-text: #0a2603;
  --btn-secondary-bg: rgba(252, 253, 252, 0.95);
  --btn-secondary-border: #9cb894;
  --btn-secondary-text-hover: #186204;
  --btn-secondary-bg-1-hover: rgba(242, 249, 240, 0.7);
  --btn-secondary-bg-2-hover: rgba(247, 255, 224, 0.65);
  --btn-secondary-border-hover: #bed7b7;
  --btn-secondary-text-focus: #1f7a05;
  --btn-secondary-bg-1-focus: rgba(242, 249, 240, 0.7);
  --btn-secondary-bg-2-focus: rgba(247, 255, 224, 0.65);
  --btn-secondary-border-focus: #bed7b7;
  --btn-secondary-focus-ring: rgba(68, 169, 40, 0.4);
  --btn-secondary-text-active: #040f01;
  --btn-secondary-bg-1-active: rgba(213, 230, 209, 0.9);
  --btn-secondary-bg-2-active: rgba(224, 230, 209, 0.8);
  --btn-secondary-border-active: rgba(136, 184, 122, 0.9);
  --btn-secondary-active-focus-ring: rgba(62, 172, 32, 0.2);
  /* Navbar */
  --navbar-border: rgba(68, 77, 66, 0.9);
  --navbar-bg: linear-gradient(180deg, rgba(44, 50, 42, 0.75), rgba(12, 14, 12, 0.9));
  --navbar-shadow: rgba(0, 0, 0, 0.6);
  --navbar-text: #d6ded3;
  --navbar-text-hover: #d8fecd;
  --navbar-text-hover-shadow: rgba(217, 252, 207, 0.75);
  --navbar-focus: rgba(195, 255, 179, 0.5);
  /* Menus */
  --dropdown-bg: rgba(12, 14, 12, 0.9);
  --dropdown-border: rgba(83, 100, 79, 0.9);
  --dropdown-shadow: rgba(5, 6, 5, 0.4);
  --dropdown-text: rgba(235, 254, 230, 0.9);
  --dropdown-divider: rgba(107, 129, 101, 0.9);
  --dropdown-divider-shadow: rgba(0, 0, 0, 0.35);
  --dropdown-item-active-text: rgba(255, 255, 255, 0.9);
  --dropdown-item-active-bg: #287713;
  --dropdown-item-active-border: #1f6b0b;
  --dropdown-item-focus-text: white;
  --dropdown-item-focus-text-shadow: rgba(0, 0, 0, 0.8);
  --dropdown-item-focus-bg-1: #a3cf2a;
  --dropdown-item-focus-bg-2: #3caf1d;
  --dropdown-item-focus-border: #83e269;
  --dropdown-item-focus-shadow: rgba(0, 0, 0, 0.65);
  /* App tile */
  --app-tile-hover: rgba(73, 174, 45, 0.18);
}

::-moz-selection {
  background-color: var(--selection-color);
}

::selection {
  background-color: var(--selection-color);
}

html {
  background: black;
}

body {
  color: var(--site-text);
  background: var(--site-bg);
  padding: 0;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Catamaran", sans-serif;
  outline-color: transparent;
}

.internalFrame {
  background: url("../bg_texture.png") repeat;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 2rem;
}

body > main > h1 {
  color: white;
  text-shadow: 0 0 3px black;
}

body .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: var(--accent-text);
  font-weight: 600;
}

a:hover {
  color: var(--accent-text-hover);
  text-decoration: underline;
}

p a,
.aboutSection a {
  text-decoration: underline;
}

.textLink {
  text-decoration: underline;
}

.noPad {
  padding: 0 !important;
}

.padAbove {
  margin-top: 0.5rem !important;
}

.warningText {
  color: black;
  font-weight: 600;
  font-style: italic;
}

.navbar {
  margin: 0;
  z-index: 99;
}

.navbar a {
  text-decoration: none !important;
}

.navbar-brand {
  color: #fff;
  font-weight: lighter;
}

.navbar-nav .nav-link {
  color: var(--navbar-text) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--navbar-text-hover) !important;
  text-shadow: 0 0 13px var(--navbar-text-hover-shadow);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: var(--navbar-text-hover) !important;
  outline: none;
}

.show > .nav-link {
  text-shadow: 0 0 13px var(--navbar-text-hover-shadow);
}

.nav-link {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.navbar-toggler:focus,
.navbar-brand:focus {
  outline-color: var(--outline-color);
}

.navbar-toggler {
  padding: 0.45rem 0.55rem;
  margin: -0.25rem;
  border-radius: var(--border-radius);
}

.navbar-dark .navbar-toggler {
  border: 1px solid var(--navbar-border);
  color: var(--navbar-focus);
}

.navbar {
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbarContainer {
  box-shadow: 0 0 15px 1px var(--navbar-shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--navbar-border);
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}

.navbarContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: var(--base-blur);
  -webkit-backdrop-filter: var(--base-blur);
  z-index: -1;
  border-radius: var(--border-radius);
}

.bg-dark {
  background-color: transparent !important;
  background: var(--navbar-bg);
  box-shadow: none;
  -webkit-backdrop-filter: var(--base-blur);
          backdrop-filter: var(--base-blur);
}

.windowOuter {
  padding: var(--window-border-padding);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.3));
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7);
  border-radius: var(--border-radius);
}

.windowOuterBlurred {
  -webkit-backdrop-filter: var(--base-blur);
  backdrop-filter: var(--base-blur);
  position: relative;
}

/* Hack to fix Safari blur-behind */
.windowOuterBlurred:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: var(--base-blur);
  z-index: -1;
  border-radius: var(--border-radius);
}

.windowInner {
  padding: 1rem;
  background: var(--window-bg);
  color: var(--window-text);
  border: 1px solid #383838;
  border-radius: var(--border-radius);
}

.windowInner:nth-child(2) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.windowTitle {
  padding: 0.45rem 0.75rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #161616;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.glassWindow .windowInner {
  background: var(--window-glass);
  border: 1px solid #232323;
  border-radius: var(--border-radius);
}

.jumbotron {
  margin-bottom: 1rem;
  padding: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--navbar-border);
  border-top-width: 0px;
  background: var(--window-bg);
}

.jumbotron .windowInner,
.jumbotron .windowInner .col-md-5,
.jumbotron .windowInner .col-md-7 {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: transparent;
  border-color: transparent;
  color: var(--window-text);
}

.jumbotron .portraitContainer {
  margin-right: 1.5rem;
  margin-left: 0;
}

.jumbotron h1 {
  background: var(--jumbo-header-text);
  font-weight: 600;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.jumboDescription h1 {
  font-weight: 600;
}

.jumboDescription p {
  padding: 0.25rem 0;
}

.homeJumbo {
  background: var(--window-bg);
}

.homeJumbo .jumboDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portraitContainer img {
  max-width: 100px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4), 0 0 0px 1px rgb(139, 139, 139);
}

main {
  margin: 0;
}

.text-muted {
  color: rgba(24, 24, 24, 0.7) !important;
}

footer {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-bottom: 2rem !important;
}

/* Buttons */
.btn {
  line-height: 1rem;
  padding: 0.35rem 0.45rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.btn-primary {
  border-radius: var(--border-radius);
  color: var(--btn-primary-text);
  background: linear-gradient(180deg, var(--btn-primary-bg-1), var(--btn-primary-bg-2));
  border: 1px solid var(--btn-primary-border);
  text-decoration: none;
  outline: none;
  text-shadow: 0 0 2px var(--btn-primary-text-shadow);
  box-shadow: inset 0px 0px 1px hsla(0, 0%, 100%, 0.6);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--btn-primary-hover-text);
  background: linear-gradient(180deg, var(--btn-primary-hover-bg-1), var(--btn-primary-hover-bg-2));
  border: 1px solid var(--btn-primary-hover-border);
  outline: none;
  text-shadow: 0 0 1px var(--btn-primary-hover-text-shadow);
  text-decoration: none;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--btn-primary-focus-ring);
}

.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--btn-primary-active-text);
  background: linear-gradient(180deg, var(--btn-primary-active-bg-1), var(--btn-primary-active-bg-2));
  border: 1px solid var(--btn-primary-active-border);
  text-shadow: 0 0 1px var(--btn-primary-active-text-shadow);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--btn-primary-focus-ring);
  outline-color: var(--btn-primary-focus-outline);
}

.btn-secondary {
  color: var(--btn-secondary-text);
  background: var(--btn-secondary-bg);
  border-color: var(--btn-secondary-border);
  text-shadow: 0 0 transparent;
}

.btn-secondary:hover {
  border-color: var(--btn-secondary-border-hover);
  background-color: var(--btn-secondary-bg-1-hover);
  background: linear-gradient(180deg, var(--btn-secondary-bg-1-hover), var(--btn-secondary-bg-2-hover));
  color: var(--btn-secondary-text-hover);
}

.btn-secondary:focus,
.btn-secondary.focus {
  background-color: var(--btn-secondary-bg-1-focus);
  background: linear-gradient(180deg, var(--btn-secondary-bg-1-focus), var(--btn-secondary-bg-2-focus));
  color: var(--btn-secondary-text-focus);
  border-color: var(--btn-secondary-border-focus);
  box-shadow: 0 0 0 0.2rem var(--btn-secondary-focus-ring);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: var(--btn-secondary-text-active);
  background-color: var(--btn-secondary-bg-1-active);
  background: linear-gradient(180deg, var(--btn-secondary-bg-1-active), var(--btn-secondary-bg-2-active));
  border-color: var(--btn-secondary-border-active);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--btn-secondary-active-focus-ring);
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: var(--btn-disabled-text);
  background-color: var(--btn-disabled);
  border-color: var(--btn-disabled);
}

.imageButton ion-icon {
  margin: 0 0.25rem;
  margin-left: 0;
  font-size: 1.5rem;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.imageButton span {
  margin: 0.1rem;
  margin-top: 0.25rem;
}

.dropdown-menu {
  background-color: var(--dropdown-bg) !important;
  border: 1px solid var(--dropdown-border);
  box-shadow: 0 0 6px 1px var(--dropdown-shadow);
  padding: 0.25rem;
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: var(--intense-blur);
          backdrop-filter: var(--intense-blur);
}

.dropdown-item {
  color: var(--dropdown-text);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  padding-bottom: 0.4rem;
}

.dropdown-divider {
  border-top: 1px solid var(--dropdown-divider);
  box-shadow: 0 0 2px 0px var(--dropdown-divider-shadow);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--dropdown-item-active-text);
  text-decoration: none;
  background-color: var(--dropdown-item-active-bg);
  border: 1px solid var(--dropdown-item-active-border);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--dropdown-item-focus-text);
  text-decoration: none;
  background-color: var(--dropdown-item-focus-bg-1);
  background: linear-gradient(180deg, var(--dropdown-item-focus-bg-1), var(--dropdown-item-focus-bg-2));
  border: 1px solid var(--dropdown-item-focus-border);
  box-shadow: 0 0 2px 1px var(--dropdown-item-focus-shadow);
  text-shadow: 0 0 2px var(--dropdown-item-focus-text-shadow);
}

/* App List */
.appList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0.25rem;
}

.appTile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.35rem;
  margin: 0.25rem;
  min-height: 80px;
  border-radius: var(--border-radius);
  text-decoration: none;
  width: calc(50% - 0.5rem);
  text-align: left;
  line-height: 1.25rem;
}

.appTile:hover {
  box-shadow: 0 0 6px 1px var(--app-tile-hover);
  text-decoration: none;
}

.appTile .appIcon {
  width: 50px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.appTile .appInfo {
  width: 100%;
}

.appTile .appInfo p {
  margin: 0.25rem 0.5rem;
}

.appTile .appHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.appTile .appInfo .appTitle {
  font-weight: 800;
  font-size: 1rem;
}

.appTile .appInfo .appDescription {
  font-weight: normal;
  margin-bottom: 0;
}

.wipBadge {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  opacity: 0.75;
  font-weight: bold;
}

.wipBadge span {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
  margin-top: 0.2rem;
}

.wipBadge ion-icon {
  font-size: 1rem;
}

/* App Pages */
.appJumbo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.35rem;
}

.appJumbo .noScreenshotLeft {
  display: flex;
  flex-direction: row;
}

.appJumbo .centeredDescription {
  align-items: center;
}

.appJumbo .col-md-5 {
  justify-content: flex-end;
}

.appJumbo .appIcon {
  display: flex;
  align-items: flex-start;
}

.appJumbo .appIcon img {
  width: 128px;
  margin: 0.5rem;
}

.appJumbo .appDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
}

.appJumbo .appDescriptionExtended {
  font-style: italic;
  color: gray;
  margin: 0.5rem 0;
}

.appJumbo .appDescriptionExtended p {
  margin: 0.5rem 0;
}

.appJumbo .col-md-5,
.appJumbo .col-md-7 {
  padding: 0 7px;
}

.appButtons {
  margin-top: 0.5rem;
}

.appButtons .imageButton {
  margin: 0.25rem 0.1rem;
}

.appButtons .imageButton:first-child {
  margin-left: 0;
}

.appButtons .imageButton:last-child {
  margin-right: 0;
}

.appJumbo .appWarning {
  display: flex;
  font-weight: 600;
  font-style: italic;
  color: firebrick;
  font-size: 1rem;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.appJumbo .appWarningWip {
  color: gray;
  font-size: 0.8rem;
  font-weight: normal;
}

.appJumbo .appWarning ion-icon {
  font-size: 4rem;
  margin-right: 0.25rem;
  max-width: 2rem;
}

.appJumbo .appWarningWip ion-icon {
  font-size: 1.75rem;
  margin-right: 1rem;
}

.appJumbo .appWarningWip strong {
  line-height: 1rem;
  margin-top: 0.25rem;
}

.appJumbo .appWarning span {
  margin-top: 0.25rem;
}

.appJumbo .appWarningWip span {
  margin: 0;
}

.appJumbo .appWarningWip div {
  display: flex;
  flex-direction: column;
}

.appJumbo .appDescriptionText {
  margin: 0;
}

.appJumbo .appScreenshot {
  max-height: 200px;
  align-self: center;
  max-width: 100%;
}

.appJumbo .appScreenshotContainer {
  display: inline-flex;
  margin: 1rem;
}

.featurette-image {
  border-radius: var(--border-radius);
  border: 4px solid white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.45);
  max-height: 40vh;
  max-width: 100%;
  margin: 0.5rem 0;
}

.featurette-image:first-child {
  margin-top: 0;
}

.featurette-image:last-child {
  margin-bottom: 0;
}

.appFeatures {
  margin: 1rem 0;
  padding-top: 0 !important;
}

.appFeatures .col-md-7,
.appFeatures .col-md-9,
.appFeatures .col-md-2,
.appFeatures .col-md-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appFeatures .col-md-5,
.appFeatures .col-md-3 {
  display: flex;
  flex-direction: column;
}

.appFeatures .imgContainer {
  justify-content: center;
  flex-direction: column;
}

.appFeatures .orderFlip {
  flex-direction: row-reverse;
}

.appFeatures .extendedDescription {
  font-style: italic;
}

.appFeatures .extendedDescription em {
  color: var(--accent-text);
  font-weight: 600;
}

.appFeatures .orderFlip .imgContainer {
  justify-content: flex-start;
  flex-direction: column;
}

hr {
  background-color: var(--divider-color);
}

.appFeatures hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.appFeatures strong,
.dateRange {
  color: var(--accent-text);
  font-weight: 600;
}

.appFeatures .newFeature {
  color: var(--accent-text);
  border-radius: var(--border-radius);
  font-size: 1.25rem;
  border: 2px solid var(--accent-text);
  align-self: flex-start;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.appFeatures h1 {
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  line-height: 2.5rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  margin: 1.75rem -15px;
  margin-top: 0.25rem;
  color: #434343;
  font-weight: 500;
  font-size: 2rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0.5rem 0;
}

.appFeatures .imageBelow .col-md-7,
.appFeatures .imageBelow .col-md-9,
.appFeatures .imageBelow .col-md-5,
.appFeatures .imageBelow .col-md-3 {
  flex-direction: column;
  justify-content: center;
  flex: auto;
  max-width: 100%;
  width: 100%;
}

.appFeatures .imageBelow .imgContainer {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.appFeatures .imageBelow .imgContainerSplit .featurette-image {
  max-width: calc(50% - 1rem);
}

.appFeatures .imageBelow .featurette-image {
  max-height: 100vh;
  max-width: 100%;
  margin: 0.5rem !important;
}

.appFeatures .featureIcon {
  height: 96px;
  width: 96px;
  border: 0px solid transparent;
  box-shadow: none;
}

.aboutSection {
  margin: 0 !important;
}

.aboutSection .featurette-image {
  border: 0px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  max-width: 164px;
}

.aboutSection .col-md-5,
.aboutSection .col-md-3 {
  justify-content: center;
}

.aboutSection h1 {
  margin: 1.5rem -15px;
}

.aboutSection h1:first-child {
  margin-top: 0;
}

.aboutSection h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.aboutSection .featurette {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contactInfo {
  margin: 0;
  margin-bottom: 1rem;
}

.contactInfo strong {
  font-weight: 600;
}

.appFeatures .smallImage {
  max-width: 100px;
}

[lightbox] {
  cursor: pointer;
}

#lightboxModal.show {
  display: flex !important;
}

#lightboxModal .modal-body {
  padding: 0rem;
  display: inline-flex;
  background: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius);
}

#lightboxModal img {
  max-width: 100%;
  max-height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  -o-object-fit: contain;
     object-fit: contain;
}

#lightboxModal .modal-dialog {
  max-width: 100vw !important;
  padding: 0 1rem;
  max-height: calc(100vh - 4rem);
}

#lightboxModal .modal-content {
  display: block;
  padding: var(--window-border-padding);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: var(--intense-blur);
  backdrop-filter: var(--intense-blur);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.55);
}

#lightboxModal .modal-body {
  display: block;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.show {
  opacity: 1;
  -webkit-backdrop-filter: var(--intense-blur);
  backdrop-filter: var(--intense-blur);
  background: rgba(0, 0, 0, 0.5);
}

code {
  border: 1px solid #000;
  border-radius: var(--border-radius);
  padding: 0rem 1.5rem !important;
  line-height: 1.5rem;
  background: linear-gradient(180deg, rgb(50, 50, 50), rgb(30, 30, 30)) !important;
  color: #ebebeb;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  word-wrap: normal;
}

.codeContainer {
  padding: 0;
  line-height: 0rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  border-radius: var(--border-radius);
  color: white;
  margin: 1.5rem 0;
}

.asciiWeight {
  border: 1px solid #b7b6b6;
  border-radius: var(--border-radius);
  padding: 0.1rem 0.25rem;
  background: #d5d5d5;
  color: black;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  word-wrap: normal;
  margin: 0.1rem;
  line-height: 2rem;
  font-style: normal !important;
}

/* Error page */
.errorWindow .windowInner {
  padding: 1rem;
  justify-content: center;
}

.errorWindow .errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.errorWindow .errorTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 0;
  padding: 1rem 0;
}

.errorWindow .errorHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

.errorWindow .errorText {
  margin: 0;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.errorWindow img {
  max-width: 4.5rem;
  margin: 0 0.5rem;
}

.errorWindow .errorHeader h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #220e03;
  margin-bottom: 0.25rem;
}

.errorWindow .errorMessage {
  font-size: 1.15rem;
  color: #333;
  margin-bottom: 0;
}

.errorWindow .buttonPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.errorWindow .errorCode {
  color: #303030 !important;
  font-style: italic;
  line-height: 1.15rem;
  font-size: 1rem !important;
  margin-bottom: 0;
}

.flexList {
  display: flex;
  flex-direction: column;
}

.flexList > * {
  margin-bottom: 0.5rem;
}

/* Desktops */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1200px;
  }
}
/* Tablets/Medium screens */
@media (max-width: 991px) {
  body .container {
    max-width: 900px;
  }
  .nav-link,
  .dropdown-item {
    /*padding: 0.55rem 1rem;*/
  }
  .appFeatures .col-md-9,
  .appFeatures .col-md-3 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .jumbotron .col-md-5,
  .jumbotron .col-md-7 {
    text-align: left;
    width: 100%;
    max-width: 100%;
    flex: auto;
    justify-content: center;
  }
  .appJumbo .appScreenshot {
    max-width: 100%;
    max-height: 275px;
  }
  .aboutSection h2,
  .aboutSection .dateRange,
  .aboutSection .lead {
    text-align: center;
  }
  .appTile {
    width: 100%;
  }
  code {
    padding: 0.5rem 0.75rem !important;
  }
  .col-md-3 .featurette-image {
    max-height: 80vh;
  }
  .navbar {
    padding: 0.75rem;
  }
  .container-fluid {
    padding: 0rem;
  }
}
/* Phones */
@media (max-width: 767px) {
  body > .container {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0.5rem;
  }
  main {
    margin-top: 0;
  }
  .jumbotron .portraitContainer {
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 0;
  }
  .appJumbo {
    text-align: center;
  }
  .appFeatures .col-md-5 {
    justify-content: center;
  }
  .appFeatures .col-md-3,
  .appFeatures .col-md-5,
  .appFeatures .col-md-7,
  .appFeatures .col-md-9,
  .appFeatures .col-md-12,
  .appFeatures .col-md-2,
  .appFeatures .col-md-10 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .appFeatures img {
    max-height: 100vh;
  }
  .appFeatures .imageBelow .imgContainerSplit .featurette-image {
    max-width: 100%;
  }
  .appFeatures .imageBelow .featurette-image {
    max-height: 100%;
    width: 100%;
    margin: 0.5rem 0rem !important;
  }
  .iconFeaturette {
    flex-direction: column-reverse !important;
  }
  .iconFeaturette .imgContainer {
    margin: 1rem 0;
    margin-top: 0;
  }
  .iconFeaturette .featurette-heading {
    text-align: center;
  }
  .windowTitle {
    text-align: center;
  }
  .jumbotron {
    margin: 0;
    margin-bottom: 1rem;
  }
  .jumbotron .windowInner,
  .jumbotron .col-md-5,
  .jumbotron .col-md-7,
  .jumbotron .appJumbo > div {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .jumbotron .appJumbo {
    padding: 0.75rem 0.25rem;
    padding-bottom: 0rem;
  }
  .appJumbo .appIcon img {
    width: 100px;
  }
  .jumbotron .appWarning {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .appJumbo .appWarning ion-icon {
    font-size: 2.25rem;
    margin: 0;
  }
  code {
    padding: 0.25rem 0.5rem !important;
  }
  .codeContainer {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  #lightboxModal .modal-dialog {
    max-width: 100vw !important;
    padding: 0;
    max-height: calc(100vh - 2rem);
  }
  #lightboxModal .modal-content {
    padding: 0.2rem;
  }
}
/* Medium phones (iPhone X size) */
@media (max-width: 500px) {
  .appJumbo .appDescriptionExtended p {
    display: flex;
    flex-direction: column;
  }
  .appButtons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .appButtons .imageButton {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin: 0.25rem !important;
  }
  .appJumbo .appScreenshotContainer {
    margin: 0.5rem 0rem;
    margin-bottom: 1rem;
  }
  .windowOuter,
  #lightboxModal .modal-content {
    padding: var(--window-border-padding-sm);
  }
}
/* Ultra-small phones (iPhone SE size) */
@media (max-width: 360px) {
  .appTile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .appTile .appHeader {
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .wipBadge {
    align-items: center;
    align-self: center;
  }
  .windowInner {
    padding: 1rem 0.5rem;
  }
  .appFeatures h1 {
    margin-right: -15px;
    margin-left: -15px;
  }
  .appJumbo .appIcon img {
    margin: 0;
  }
}
/* Non-phones */
@media (min-width: 768px) {
  .appJumbo .appIcon img {
    width: 128px;
    margin-right: 2rem;
  }
}/*# sourceMappingURL=site.css.map */