@{
    ViewData["Title"] = "About";
}

<div class="jumbotron windowOuter windowOuterBlurred">
    <div class="windowInner">
        <div class="portraitContainer">
            <img src="~/img/Portrait.jpg" />
        </div>

        <div class="jumboDescription">
            <h1>Ian Martinez</h1>

            <p>
                A software developer and designer with projects in C#, Java, JavaScript, Pascal, and more.
            </p>

            <div class="appButtons">
                <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/" role="button">
                    <ion-icon name="logo-github"></ion-icon>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="windowOuter">
    <div class="windowInner">
        <div class="container appFeatures aboutSection">
            <h1>Education</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/University.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Texas A&amp;M University - San Antonio</h2>


                    <div class="featuretteDescription">
                        <p class="lead">
                            Bachelor of Science in Computer Science
                        </p>

                        <p class="dateRange">2017 - 2021 (Currently Enrolled)</p>
                    </div>
                </div>
            </div>

            <h1>Employment</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/IBC.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">IBC Bank</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            Developer I
                        </p>

                        <p class="dateRange">June 2017 - April 2020</p>

                        <p class="extendedDescription">
                            Worked to re-write multiple websites using modern web design in order to migrate
                            them away from SharePoint and ASP.NET WebForms to ASP.NET MVC and ASP.NET Core.
                        </p>

                        <p class="extendedDescription">
                            Maintained, test, and deployed bug fixes to critical banking software.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/CBE.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">CBE Companies</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            IT Itern
                        </p>

                        <p class="dateRange">May 2017 - June 2017</p>

                        <p class="extendedDescription">
                            Assisted in setting up new hardware and fixing malfunctioning hardware.
                        </p>
                    </div>
                </div>
            </div>

            <h1>Language Experience</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/CSharp.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">C#</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">6 Years</p>

                        <p class="lead">
                            Development with C# on Windows, macOS, and Linux. Desktop applications built
                            with WinForms and <a href="https://github.com/picoe/Eto">Eto Forms</a> and
                            websites using ASP.NET WebForms, ASP.NET MVC, and ASP.NET Core.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Resources/AeroLib">AeroLib</a></li>
                                <li><a href="~/CardinalQemu">Cardinal QEMU</a></li>
                                <li><a href="~/LangPad">LangPad (LangPadUI and LangPadData libraries)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/JavaScript.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">JavaScript</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">6 Years</p>

                        <p class="lead">
                            JavaScript development for standalone libraries as well as
                            for the front-end of larger websites.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Resources/AeroLib">AeroLib</a></li>
                                <li><a href="~/CardinalQemu">Cardinal QEMU</a></li>
                                <li><a href="~/LangPad">LangPad (LangPadUI and LangPadData libraries)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/Java.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Java</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">5 Years</p>

                        <p class="lead">
                            Desktop Java development with both Swing and JavaFX.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/AsciiStudio">ASCII Studio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Software Experience</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/Inkscape.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Inkscape</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                        </p>

                        <p class="extendedDescription">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>