@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Chameleon Classic";
}

@section description {
    <div class="obsoleteWarning">
        <ion-icon name="alert-circle"></ion-icon>

        <span>No longer maintained</span>
    </div>

    <p class="appDescriptionText">
        The old version of Chameleon for Windows Vista & Windows 7 that changes Aero glass colors based on
        the weather and other factors, instead of the desktop wallpaper, like the current version does. 

        The weather portion of it no longer works because Yahoo removed the weather API that it used.
    </p>

    <div class="appDescriptionExtended">
        <p><strong>Requires:</strong> Windows Vista or higher and .NET Framework 4.0 or higher</p>
        <p><strong>Written In:</strong> VB .NET</p>
    </div>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>

        <a class="btn btn-primary imageButton" href="" role="button">
            <ion-icon name="download"></ion-icon><span>Download</span>
        </a>
    </div>
}

@section screenshot {
    <img class="featurette-image appScreenshot" src="~/img/Old/ChameleonScreenshot.jpg" lightbox />
}

<div class="container appFeatures">
</div>