@{
  Layout = "_AppLayout";
  ViewData["Title"] = "Screensavers";
}

@section description {
  <div class="appWarning">
    <ion-icon name="alert-circle"></ion-icon>
    <span>No longer maintained</span>
  </div>

  <p class="appDescriptionText">
    Two screensavers for Windows. They are no longer supported but should work just fine on modern Windows.
  </p>

  <div class="appDescriptionExtended">
    <p><strong>Requirements:</strong> Windows 2000 or higher and .NET Framework 2.0 or higher</p>
    <p><strong>Written In:</strong> VB .NET</p>
  </div>

  <div class="appButtons">
    <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/OldProjects" role="button">
      <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
    </a>

    <a class="btn btn-primary imageButton"
      href="https://github.com/ianmartinez/OldProjects/raw/master/ColorsScreensaver.scr" role="button">
      <ion-icon name="download"></ion-icon><span>Download Colors Screensaver</span>
    </a>

    <a class="btn btn-primary imageButton"
      href="https://github.com/ianmartinez/OldProjects/raw/master/GraystyleScreensaver.scr" role="button">
      <ion-icon name="download"></ion-icon><span>Download Graystyle Screensaver</span>
    </a>
  </div>
}

<div class="container appFeatures">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Colors Screensaver</h2>

      <div class="featuretteDescription">
        <p class="lead">
          The <strong>Colors</strong> screensaver shifts the hue on your screen back and forth.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="imgContainer">
        <img class="featurette-image" src="~/img/Old/Screensavers/Colors.gif" lightbox />
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette orderFlip">
    <div class="col-md-7">
      <h2 class="featurette-heading">Graystyle Screensaver</h2>

      <div class="featuretteDescription">
        <p class="lead">
          The <strong>Graystyle</strong> screensaver shifts your screen to black and white.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="imgContainer">
        <img class="featurette-image" src="~/img/Old/Screensavers/Graystyle.gif" lightbox />
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Screensaver Options</h2>

      <div class="featuretteDescription">
        <p class="lead">
          Both screensavers include an optional clock overlay with a customizable look.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="imgContainer">
        <img class="featurette-image" src="~/img/Old/Screensavers/GraystyleSettings.jpg" lightbox />
      </div>
    </div>
  </div>
</div>