@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Screensavers";
}

@section description {
    <p class="appDescriptionText">
    </p>

    <div class="appDescriptionExtended">
        <p><strong>Require:</strong> Windows 2000 or higher</p>
        <p><strong>Written In:</strong> VB .NET</p>
    </div>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>

        <a class="btn btn-primary imageButton" href="" role="button">
            <ion-icon name="download"></ion-icon><span>Download</span>
        </a>
    </div>
}

<div class="container appFeatures">
</div>