@{
    Layout = "_AppLayout";
    ViewData["Title"] = "LaikaWM";
}

@section icon {
    <img src="~/img/LaikaWM/Icon.png" />
}

@section description {
    <div class="appWarning">
        <ion-icon name="alert-circle"></ion-icon>
        <span>This is <em>very</em> early in the planning stage and is still incomplete.</span>
    </div>

    <p class="appDescriptionText">
        A modern, lightweight Wayland compositor, inspired by earlier X11 window managers,
        such as <a href="https://en.wikipedia.org/wiki/IceWM">IceWM</a> and 
        <a href="https://en.wikipedia.org/wiki/Fluxbox">Fluxbox</a>.
    </p>

    <div class="appDescriptionExtended">
        <p><strong>Written In:</strong> C/C++</p>
    </div>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/laikawm" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

<div class="container appFeatures">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Lightweight</h2>

            <div class="featuretteDescription">
                <p class="lead">
                   LaikaWM has a small footprint and is able to run on devices with limited resources, like 
                   the Raspberry Pi, all the way up to full-fledged desktops.
                </p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette orderFlip">
        <div class="col-md-12">
            <h2 class="featurette-heading">Themeable</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    It is highly customizable with different themes, which are sets of 
                    configuration files and SVG images that represent elements in the UI. 
                </p>

                <p class="extendedDescription">
                    A single theme can have multiple variants deriving from the <strong>default</strong> 
                    variant, such as a light and a dark variant of the same theme.
                </p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Scalable</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    All UI elements are vectors, so they appear sharp on any display.
                </p>

                <p class="extendedDescription">
                    Theme elements are stored as SVGs that are rasterized to
                    PNG images that match the current screen's scaling.
                </p>
            </div>
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette orderFlip">
        <div class="col-md-12">
            <h2 class="featurette-heading">Easy to use</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    Though it can be configured entirely through text files,
                    LaikaWM also provides a built-in <strong>LaikaConfig</strong> 
                    program that allows you to change settings using only a GUI. 
                </p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Extendable</h2>

            <div class="featuretteDescription">
                <p class="lead">
                    LaikaWM has built-in support for <strong>Meters</strong>, which are plugins that display dynamic 
                    content. 
                </p>
            </div>
        </div>
    </div>
</div>