@{
    Layout = "_AppLayout";
    ViewData["Title"] = "LaikaWM";
}

@section icon {
    <img src="~/img/LaikaWM/Icon.png" />
}

@section description {
    <div class="appWarning">
        <ion-icon name="alert-circle"></ion-icon>
        <span>This is still <em>very</em> early in the planning stage and is incomplete.</span>
    </div>

    <p class="appDescriptionText">
        A modern, lightweight Wayland compositor.
    </p>

    <div class="appDescriptionExtended">
        <p><strong>Written In:</strong> C/C++</p>
    </div>

    <div class="appButtons">
        <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/laikawm" role="button">
            <ion-icon name="logo-github"></ion-icon><span>GitHub</span>
        </a>
    </div>
}

<div class="container appFeatures">
</div>